<head>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<link rel ="stylesheet"href="{%static 'styles.css'%}">
<head>
  {% block title %}<title>Kindergarten</title>{% endblock %}
</head>
<body>
  <nav class ="navbar ">
    {% block content %}

<table class ="table">



  {%for Kinders in Kinders_list%}
  <tr>
    <td>  {{Kinders.kinder_name}}  </td>

<td><a href ="{%url 'detail_view' KInders.id %}"> Detail </a> </td>


        {%endfor%}
        </table>

        {% endblock %}
             {% bootstrap_javascript jquery='full' %}

</body>
<h1>Kinder</h1>
  <nav class = "navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="register/"> Teachers </a>
        </li>

            <li class="nav-item">
              <a class="nav-link" href="create/">Create class </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create2/">Create list of students </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/create3/">Create list of Parents </a>
                  </li>


                <li class="nav-item">
                  <a class="nav-link" href="lista/"> Reviewing Classes </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="lista2/"> Reviewing Class Students </a>
                    </li>


                    <li class="nav-item">
                      <a class="nav-link" href="lista4/"> Reviewing Parents </a>
                      </li>
