{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<link rel ="stylesheet"href="{%static 'styles2.css'%}">
<!doctype html>
<html lang ="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kinders</title>
</head>
<body>
  {% block content %}

  <table class ="table">
    <th> Padres </th>
    <th> Detail</th>
    <th> Update </th>
    <th> Delete </th>



    {%for Padres in Padre%}
    <tr>
      <td>  {{Padres.nombre}}  </td>

  <td><a href ="{%url 'detail223' Padres.id %}"> Detail </a> </td>
  <td><a href ="{%url 'update_view3' Padres.id %}"> Update </a> </td>
  <td><a href ="{%url 'delete_view3' Padres.id %}"> Delete </a> </td>

          {%endfor%}
          </table>
            {% endblock %}

    <form method ="POST">
      {%csrf_token%}
      {{form.as_p}}
    <a class="btn btn-primary" href="/">Go back</a>  </form>
</body>
</html>
