{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

<table class="table">
  <thead>
      <tr>

<th scope="col">class_name</th>

<th scope="col">student_1</th>

<th scope="col">student_2</th>

<th scope="col">student_3</th>

<th scope="col">student_4</th>

<th scope="col">student_5</th>


    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.class_name }}</td>

    <td>{{ object.student_1 }}</td>

    <td>{{ object.student_2 }}</td>

    <td>{{ object.student_3 }}</td>

    <td>{{ object.student_4 }}</td>

    <td>{{ object.student_5 }}</td>




    </tbody>
    </table>

    <form method ="POST">
      {%csrf_token%}
      {{form.as_p}}
    <a class="btn btn-primary" href="/">Go back</a>  </form>
{%endblock%}
{% bootstrap_javascript jquery='full' %}
