{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<link rel ="stylesheet"href="{%static 'styles1.css'%}">
{% block title %} Create an account{%endblock%}

{%block content%}
<form method ="POST" class ="form-group">
    {% csrf_token %}
    {{form}}
    <button type="registrar" class="btn btn-success">Register</button>
    <a class="btn btn-primary" href="/">Go back</a>  </form>
</form>
{%endblock%}
