.navbar {
  background-color:  #2e61f2;
}
.navbar .navbar-brand {
   color:  #FFF;
}

.navbar .navbar-brand:hover {
   color:  #000;
}

body{
  background-color: #0f121f;
  background-image: url(/static/kinderback.jpg);

  background-size: cover;
  background-position: bottom;
  color:#fff;
}
